Img {
    height: 200px;
    width: max-content;
}

/* SignupPage */

.SignupPage {
    display: flex;
    width: 156vh;
    height: 18.2vh;
    padding:  37.2vh 24.7vh  37.2vh 24.7vh;
    justify-content: center;
    align-items: center;
    background: #af0034;
}

.SPcontainer1 {
    width: 65.3vh;
    height: 70vh;
    flex-shrink: 0;
    border-radius:  2.63vh 0vh 0vh  2.63vh;
    background: #f7f5f0;

}

#SPh1 {
    color: #af0034;
    text-align: center;
    font-family: Titillium Web;
    font-size: 4.2vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 76.1vh;
}

#SPform {
    width: 41.3vh;
    height: 5.2vh;
    flex-shrink: 0;
    border-radius: 3.9vh;
    background: #FFF;
}

#SPlabel {
    padding-right: 1.3vh;
    display: flex;
    align-items: baseline;
    width: 13.69vh;
    justify-content: center;
    font-size: 2.3vh;

}

#SPbutton {
    width:  20.54vh;
    height: 5.2vh;
    flex-shrink: 0;
    border-radius: 3.94vh;
    background: #af0034;
    color: #FFF;
    text-align: center;
    font-family: Rubik;
    font-size: 2vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}


#SPcontainer2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: baseline;
}

#SPlabel1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.36vh;
}

#SPmessage {
    width: 79.1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.1vh;
}

#SPbuttoncontainer {
    width: 76.1vh;
}
#SPgif{
    height: 70vh ;
    width: 67.3vh;
    border-radius: ;
}

/* LOGIN PAGE STYLE */

.LoginPage{
    display: flex;
    width: 156vh;
    height: 18.2vh;
    padding:  37.2vh 24.7vh  37.2vh 24.7vh;
    justify-content: center;
    align-items: center;
    background: #af0034;
}

.LIcontainer1 {
    width: 65.3vh;
    height: 55.7vh;
    flex-shrink: 0;
    border-radius:  2.63vh 0vh 0vh  2.63vh;
    background: #f7f5f0;
    display: flex;
    flex-direction: column;
    align-content: space-around;


}

#LIh1 {
    color: #af0034;
    text-align: center;
    font-family: Titillium Web;
    font-size: 4.2vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 76.1vh;
}

#LIform {
    width: 39.3vh;
    height: 5.2vh;
    border-radius: 3.9vh;
    background: #FFF;
    border-color: #af0034;
}

#LIlabel {
    padding-right: 1.3vh;
    display: flex;
    align-items: baseline;
    width: 13.69vh;
    justify-content: center;
    font-size: 2.3vh;

}

#LIbutton {
    width: 20.54vh;
    height: 5.2vh;
    flex-shrink: 0;
    border-radius: 3.94vh;
    background: #af0034;
    color: #FFF;
    text-align: center;
    font-family: Rubik;
    font-size: 2vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}


#LIcontainer2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: baseline;
}

#LIlabel1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.36vh;
}

#LImessage {
    width: 79.1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
}

#LIbuttoncontainer {
    width: 76.1vh;
    display: flex;
    justify-content: center;
}
#LIgif{
    height: 55.7vh;
    width: 65.3vh; 
}

/* NAVBAR STYLE */
nav {
    background-color: #000000;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  
  #NBlogo {
    height: 8vh;
    margin-right: 10px;
  }
  
  #NBbuttons {
    display: flex;
    align-items: center;
    margin-left: 25px;
  }
  
  button {
    color: #af0034;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    nav {
      height: auto;
      flex-direction: row;
      align-items: flex-start;
    }
  
    #NBbuttons {
      width: 100%;
      flex-direction:column;
      align-items: center;
    }
  }
  

/* TEAMS PAGE STYLE */
.TeamsPage {
    width: 100vw;
    padding: 3vh 5vh 5vh 5vh;
    background: #af0034;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #TPh1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: -15px;
    margin-bottom: 20px;
  }
  
  #TPteams {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  
  #TPlist {
    width: 30vh;
    height: auto;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #edd2a3;
    border-radius: 6%;
    color: #af0034;
    font-size: 1.8vh;
  }
  
  #TPdrivers {
    font-size: 1.8vh;
    color: #559aef;
    text-align: center;
  }

  #TPteams1{
    width: 30vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0%;
  }

/* DRIVER DETAILS PAGE STYLE */
.DriverDetailsPage {
    width: 100vw;
    padding: 3vh 5vh 5vh 5vh;
    background: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }
  
  #DDcontainer {
    background-color: #af0034;
    border-radius: 25px;
    width: 90vw;
    max-width: 1000px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
  }
  
  #DDcontainer1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  
  #DDImg {
    width: 45%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
  }
  
  #DDinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 2vh;
    width: 55%;
    padding-left: 20px;
  }
  
  .DDp {
    background-color: #f0dfe4;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
    font-size: 1.8vh;
  }
  
/* CURRENT SEASON PAGE STYLE */
#CurrentSeasonPage {
    width: 100vw;
    padding: 3vh 5vh 5vh 5vh;
    background: #252424;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #CurrentSeasonPage h1 {
    font-size: 2.5rem;
    color: #af0034;
    margin-bottom: 20px;
  }
  
  #CurrentSeasonPage ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #CurrentSeasonPage li {
    width: 40vh;
    height: 450px; /* Adjust the height as desired */
    margin: 20px;
    padding: 20px;
    background-color: #efe4d0;
    border-radius: 8px;
    color: #ed789b;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #CurrentSeasonPage li:nth-child(odd) {
    background-color: #f5dfe5;
    color: #f7f5f0;
  }
  
  #CurrentSeasonPage h2 {
    font-size: 2rem;
    color: #559aef;
    margin-bottom: 10px;
  }
  
  #CurrentSeasonPage p {
    font-size: 1.6rem;
    color: #000;
    margin: 5px 0;
  }
  
  #CurrentSeasonPage a {
    color: #559aef;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  #CurrentSeasonPage a:hover {
    color: #af0034;
  }

/* MERCH PAGE STYLE */
#all-items {
    width: 100vw;
    padding: 3vh 5vh;
    height: 100vw;
    background: #af0034;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #allItemsHeading {
    color: #f7f5f0;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .item-link {
    text-decoration: none;
    color: inherit;
  }
  
  .item-card {
    background-color: #eec9d4;
    border-radius: 2px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vh; 
    height: 45vh;
    max-width: 300px; 
  }
  
  .item-image {
    width: 100%;
    height: max-content;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .item-name {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  
  .item-cost {
    font-size: 1.2rem;
    margin-top: 5px;
  }
  
  /* ADD ITEM PAGE STYLE */
  #new-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 5vh 5vh 5vh 5vh;
    background: #af0034;
  }
  
  #AIh1 {
    color: #af0034;
    text-align: center;
    font-family: Titillium Web;
    font-size: 4.2vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    margin-bottom: 3vh;
  }
  
  .AIform {
    width: 80vh;
    padding: 2vh;
    border-radius: 3.9vh;
    background: #f7f5f0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .AIlabel {
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
    font-size: 2.3vh;
  }
  
  .AIinput {
    width: 80%;
    padding: 1vh;
    border: 1px solid #af0034;
    border-radius: 3px;
    margin-bottom: 2vh;
    font-size: 1.8vh;
  }
  
  .AIbutton {
    width: 30%;
    padding: 1vh;
    border: none;
    border-radius: 3.94vh;
    background: #af0034;
    color: #fff;
    font-size: 2vh;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
  }
  
  .AIbutton:hover {
    background: #fff;
    color: #af0034;
  }
  
  .AIbutton:focus {
    outline: none;
  }

  /* EDIT ITEM PAGE */
  #edit-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 5vh 5vh 5vh 5vh;
    background: #af0034;
  }
  
  #EIh1 {
    color: #af0034;
    text-align: center;
    font-family: Titillium Web;
    font-size: 4.2vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    margin-bottom: 3vh;
  }
  
  .AIform {
    width: 80vh;
    padding: 2vh;
    border-radius: 3.9vh;
    background: #f7f5f0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .AIlabel {
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
    font-size: 2.3vh;
  }
  
  .AIinput {
    width: 80%;
    padding: 1vh;
    border: 1px solid #af0034;
    border-radius: 3px;
    margin-bottom: 2vh;
    font-size: 1.8vh;
  }
  
  .AIbutton {
    width: 30%;
    padding: 1vh;
    border: none;
    border-radius: 3.94vh;
    background: #af0034;
    color: #fff;
    font-size: 2vh;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
  }
  
  .AIbutton:hover {
    background: #fff;
    color: #af0034;
  }
  
  .AIbutton:focus {
    outline: none;
  }
  
  /* ITEM DETAILS PAGE STYLE */

#item-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 5vh 5vh;
    background: #af0034;
}

#IDh1 {
    color: #f7f7f7;
    text-align: center;
    font-family: Titillium Web;
    font-size: 4.2vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    margin-bottom: 3vh;
}

.item-container1 {
    width: 80vh;
    padding: 2vh;
    border-radius: 3.9vh;
    background: #f5f1e7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-buttons {
    width: 80vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: flex-start;
}

.item-buttons button {
    padding: 1vh 3vh;
    border: none;
    border-radius: 3.94vh;
    background: #af0034;
    color: #fff;
    font-size: 2vh;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    margin-right: 1vh;
}

.item-buttons button:last-child {
    margin-right: 0;
}

.item-buttons button:hover {
    background: #fff;
    color: #af0034;
}

.item-buttons button:focus {
    outline: none;
}

.item-name1 {
    font-size: 4.5vh;
    margin: 1vh 0;
    color: #af0034;
}

#itemImg1 {
    height: 40vh;
    border-radius: 10px;
    margin: 2vh 0;
}

.item-details1 {
    font-size: 2.2vh;
    text-align: center;
    margin-bottom: 2vh;
}

.item-cost1 {
    font-size: 2.5vh;
    color: #559aef;
    font-weight: bold;
}

/* CART PAGE STYLE */
.cart-page {
    width: 100vw;
    height: 90vh;
    padding: 5vh 5vh 5vh 5vh;
    background: #af0034;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cart-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
  }
  
  .cart-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    margin-right: 2vh;
  }
  
  .cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20vh;
    margin: 1vh 0;
    padding: 1.5vh;
    background: #f7f5f0;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .item-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 70%;
  }
  
  .item-name {
    color: #af0034;
    font-size: 2.3vh;
    margin: 1vh 0;
  }
  
  .item-image {
    max-width: 15vh;
    max-height: max-content;
    margin: 1vh 0;
  }
  
  .item-cost {
    font-size: 2.2vh;
    margin: 0.5vh 0;
  }
  
  .item-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .item-button {
    margin: 0.5vh;
    padding: 1vh 2vh;
    background: #af0034;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 2vh;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
  }
  
  .item-button:hover {
    background: #fff;
    color: #af0034;
  }
  
  .purchase-summary {
    flex: 1;
    margin-left: 2vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .purchase-summary p {
    width: 90vh;
    margin: 1vh 0;
    font-size: 2.2vh;
  }
  
  .checkout-button {
    padding: 1.5vh 3vh;
    background: #af0034;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 2.2vh;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
  }
  
  .checkout-button:hover {
    background: #fff;
    color: #af0034;
  }
  
  .empty-cart {
    text-align: center;
    margin-top: 5vh;
  }
  
  .empty-cart a {
    color: #af0034;
    text-decoration: underline;
  }
  